<div class="marginFromNavbar"></div>

<div class="container-fluid">
    <div class="row d-flex justify-content-center">

        <div class="col-lg-8">
            <div class="row">
                <h3 class="col-md-6 pageMainHeading">Reset Password</h3>
                <div class="float-right col-md-5">
                    <!-- <div class="float-right mt-3 simpleText">New Member? <a style="color: blue;" routerLink="/SignUp"
                class="Links">Register</a> here.</div> -->
                </div>
            </div>
            <!-- <form [formGroup]="signInForm" (ngSubmit)="checkSignInFormData()" ngNativeValidate> -->
            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" ngNativeValidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="label inputBoxHeadingColor" for="exampleInputEmail1">Email*</label>
                            <input type="email" class="form-control w-100" id="exampleInputoldpass"
                                formControlName="email" aria-describedby="emailHelp"
                                placeholder="Please enter your email" required>
                        </div>
                        <div class="form-group">
                            <label class="label inputBoxHeadingColor" for="exampleInputPassword1">New Password*</label>
                            <input type="password" class="form-control w-100" id="exampleInputnewpass"
                                formControlName="password" placeholder="Please enter your new password" required>
                        </div>
                        <div class="form-group">
                            <label class="label inputBoxHeadingColor" for="exampleInputPassword1">Verification
                                Code*</label>
                            <input type="password" class="form-control w-100" id="exampleInputnewpass"
                                formControlName="verificationCode" placeholder="Please enter your verification code" required>
                            <button class="btn btn-primary my-2" (click)="sendVerificationCode()">Get Code</button>
                        </div>
                        <!-- <div class="container w-100">
                            <a routerLink="/SignUp" class="float-right outline" style="font-size: 15px;">Forget Password?</a>
                        </div> -->
                        <div>
                            <!-- <a routerLink="/SignUp" class="float-right outline" style="font-size: 15px;">Forget Password?</a> -->
                            <button type="submit" class="btn btn-primary w-100 my-2">Reset Password</button>
                        </div>
                    </div>
                    <!-- <div class="col-md-4">
                <button type="submit" class="btn btn-primary w-100 mt-4" style="background-color: orange;">Login</button>
                <h6>or, login with</h6>
                <button type="button" class="btn btn-primary w-100 my-2">Facebook</button>
                <button type="button" class="btn btn-danger w-100 my-2">Google</button>
            </div> -->
                </div>
            </form>
            <div *ngIf="showMsg" class="alert alert-success">
                <strong>{{showMsg}}</strong>
            </div>
        </div>
    </div>
</div>