<!-- Modal -->
<div >
    <div class="modal fade" id="showMessageModal" data-keyboard="false" data-backdrop="static"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Message</h5>
            </div>
            <div class="modal-body">
                <p>{{showMessage}}</p>
            </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->


<!-- <div *ngIf="this.confirmationModal"> -->
    <!-- <div class="modal fade" id="showMessageModal" data-keyboard="false" data-backdrop="static"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Message</h5>
                <button type="button" class="close" (click)="clickOnOkButtonInModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{showMessage}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="cliclOnCancelButtonInModal()" >Close</button>
                <button type="button" class="btn btn-primary" (click)="clickOnOkButtonInModal()" >Ok</button>
            </div>
            </div>
        </div>
    </div> -->
<!-- </div>  -->

