<div class="marginFromNavbar"></div>
<div class="container-fluid">
    <div class="row d-flex justify-content-center">

        <div class="col-lg-8">
            <div class="row"> 
                <h3 class="col-md-6 pageMainHeading">Edit Account Details</h3>
            </div>
            <div class="row mt-4">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">FullName</th>
                            <th scope="col">Email</th>
                            <th scope="col">Password</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let us of readData">
                            <th scope="row">{{us.Id}}</th>
                            <td>{{us.FullName}}</td>
                            <td>{{us.Email}}</td>
                            <td>{{us.Password}}</td>
                            <td><button class="btn btn-dark ml-1" (click)="editAccountDetails(us.Id)"><i class="bi bi-pencil-square"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <div *ngIf="showMsg" class="alert alert-success">
                <strong>{{showMsg}}</strong>
            </div> -->
        </div>
    </div>
</div>