<div class="marginFromNavbar"></div>
<div class="container-fluid">
    <div class="row d-flex justify-content-center">

        <div class="col-lg-8">
            <div class="row">
                <h3 class="col-md-6 pageMainHeading">Edit Account Details</h3>
            </div>
            <div class="row mt-4">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" style="display: none;" contenteditable="false">Id</th>
                            <th scope="col" contenteditable="false">FullName</th>
                            <th scope="col" contenteditable="false">Email</th>
                            <th scope="col" contenteditable="false">Password</th>
                            <th scope="col" contenteditable="false">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let us of readData" id="details">
                            <th scope="row" style="display: none;">{{us.Id}}</th>
                            <td contenteditable="true">{{us.FullName}}</td>
                            <td contenteditable="false">{{us.Email}}</td>
                            <td contenteditable="true">{{us.Password}}</td>
                            <td><button class="btn btn-dark ml-1" (click)="editAccountDetails()"><i
                                        class="bi bi-pencil-square"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <div *ngIf="showMsg" class="alert alert-success">
                <strong>{{showMsg}}</strong>
            </div> -->
        </div>
    </div>
</div>