*{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: content-box;
}

nav{
    font-family: montserrat;
    /* background: #0082e6; */
    background: white;
    height: 80px;
    width: 100%;
}

/* label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
} */

nav ul{
    float: left;
    margin-left: 10px;

}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

    
}

nav ul li a{
    color: #0082e6;
    /* color: white; */
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

#hometab{
    /* color: white; */
    color: #0082e6;
    font-size: 30px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}
.cartPic{
    width: 40px;
    height: 10px;
     background-color: white;
    /* background-color: #0082e6; */
    border: none;
}

.animate{
    transition-property: all;
}

.animate:hover{

    background-color: #1b9bff;
    color: white;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}
#check{
    display: none;
}
@media (max-width:1000px){
    /* label.logo{
        font-size: 30px;
        padding-left: 50px;
    } */
    nav ul li a{
        font-size: 18px;
    }
}

@media (max-width:779px){
    /* label.logo{
        font-size: 25px;
        padding-left: 15px;
        padding-right: 80px;
    } */
    #hometab{
        font-size: 20px;
        line-height: 80px;
        padding: 0 40px;
    }
    /* nav ul{
        margin-right: 18px;
    } */
    nav ul li a{
        font-size: 14px;
        padding: 7px 10px;
    }
}

@media (max-width:630px){
    /* label.logo{
        padding-right: 60px;
    } */
    /* nav ul{
        margin-right: 16px;
    } */
    #hometab{
        font-size: 18px;
        line-height: 80px;
        padding: 0 25px;
    }
    nav ul li a{
        font-size: 13px;
        padding: 7px 9px;
    }
}

@media (max-width:561px){
    /* label.logo{
        padding-right: 40px;
    } */
    #hometab{
        font-size: 15px;
        line-height: 80px;
        padding: 0 15px;
    }
    nav ul li a{
        font-size: 12px;
        padding: 7px 8px;
    }
}

@media (max-width:505px){
    label.logo{
        padding-right: 40px;
    }
    #hometab{
        font-size: 13px;
        line-height: 80px;
        padding: 0 10px;
    }

    nav ul li a{
        font-size: 10px;
        padding: 7px 6px;
    }
}

@media (max-width:438px){

    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100;
        transition: all .5s;
        text-align: left;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    .animate:hover{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
