
<div *ngIf="this.isAppOpen">
   <nav>
        <!-- <label routerLink="/" class="logo animate">Home</label> -->
        <ul >
            <li><a class="animate" routerLink="/" id="hometab" >Home</a></li>
            <li><button class="cartPic" (click)="openProductCartPage()"><img src="assets/cart.jpg" alt="" style="width: 40px;"></button></li>
            <li><a class="animate" routerLink="/SignIn">Sign In</a></li>
            <li><a class="animate" routerLink="/customerSupport">Customer Support</a></li>
            <!-- <li><a class="animate" routerLink="/SellerDashboard">Seller</a></li> -->
            <li><a class="animate" routerLink="/SignInSeller">Become Seller</a></li>
        </ul>
    </nav>
</div> 

<div *ngIf="this.isBuyerLogin">
    <nav>
         <!-- <label routerLink="/" class="logo animate">Home</label> -->
         <ul >
             <li><a class="animate" routerLink="/" id="hometab" >Home</a></li>
             <li><button class="cartPic" (click)="openProductCartPage()"><img src="assets/cart.jpg" alt="" style="width: 40px;"></button></li>
             <li><a class="animate" routerLink="/customerSupport">Customer Support</a></li>
             <li><a class="animate" routerLink="/SignInSeller">Become Seller</a></li>
             <li><a class="animate" style="cursor:pointer" >Logout</a></li>
         </ul>
     </nav>
 </div>


























<!-- <div *ngIf="this.isAppOpen"  style="background-color: white;  height: 100px;"  class=" mb-2">
    <nav class="navbar topnav" style="background-color: rgba(255, 255, 255, 0);color: black;" id="navbar">
        <div class="row container">
            <div class="col-3">
                <a routerLink="/" style="color: black;">
                    <h2>E-Commerce</h2>
                </a>
            </div>
            
            <div class="col-1">
                <a routerLink="/productCart"><img src="assets/cart.jpg" alt="" style="width: 40px;"></a>
            </div>
            <div class="col-2">
                <a routerLink="/SignIn" class=" btn-pill">Sign In</a>
            </div>
            <div class="col-2">
                <a routerLink="/SignUp">Sign Up</a>
            </div>
            <div class="col-2">
                <a routerLink="/customerSupport" >Customer Support</a>
            </div>
            <div class="col-2">
                <a routerLink="/SignInSeller">Become a seller</a>
            </div>

        </div>
        <br> 
    </nav>
</div>

<div *ngIf="this.isBuyerLogin"  style="background-color: white;  height: 100px;"  class=" mb-2">
    <nav class="navbar topnav" style="background-color: rgba(255, 255, 255, 0);color: black;" id="navbar">
        <div class="row container">
            <div class="col-3">
                <a routerLink="/" style="color: black;">
                    <h2>E-Commerce</h2>
                </a>
            </div>
            <div class="col-1">
                <a routerLink="/productCart"><img src="assets/cart.jpg" alt="" style="width: 40px;"></a>
            </div>
            <div class="col-2">
                <a routerLink="/customerSupport" >Customer Support</a>
            </div>
            <div class="col-2">
                <a routerLink="/SignInSeller">Become a seller</a>
            </div>

        </div>
        <br> 
    </nav>
</div> -->
