<div style="background-color: whitesmoke;  height: 100px;"  class=" mb-2">
    <nav class="navbar topnav" style="background-color: rgba(255, 255, 255, 0);color: black;" id="navbar">
        <div class="row container">
            <div class="col-3">
                <a routerLink="/" style="color: black;">
                    <h2>E-Commerce</h2>
                </a>
            </div>
           
            <div class="col-1">
                <a href="Add_To_Cart.html"><img src="assets/cart.jpg" alt="" style="width: 40px;"></a>
            </div>
            <div class="col-2">
                <a routerLink="/SignIn" class=" btn-pill">Sign In</a>
            </div>
            <div class="col-2">
                <a routerLink="/SignUp">Sign Up</a>
            </div>
            <div class="col-2">
                <a href="customerHelp.html">Customer Support</a>
            </div>
            <div class="col-2">
                <a routerLink="/SignInSeller">Become a seller</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()"></a>
            </div>

        </div>
        <br>
        
    </nav>
</div>


<router-outlet></router-outlet>