<!-- <app-sign-in></app-sign-in>
 -->


<div class="row">
    <div class="col-md-4">
        <div class="container" style="border: black;margin-left: -1px;">
            <nav id="sidebarMenu">
                <div class="col-5 list-group ">
                    <a href="#" (click)="myFunctiondrop1()" class="dropbtn" aria-current="true">
                        <button class="btn btn-outline-secondary" id="electric-button"><img src="assets/electronics.png" style="width: 20px;">
                            <span>Electronics</span></button>
                    </a>
                    <div id="myDropdown" class="dropdown-content"><a href="#" onclick="myFunctiondrop()" class="dropbtn"
                            aria-current="true">
                        </a><a href="#home">Phone</a>
                        <a href="#about">Computer</a>
                        <a href="#contact">Acessories</a>
                    </div>

                    <a href="#" (click)="myFunctiondrop1()" class="dropbtn" aria-current="true">
                        
                        <button id="cloth-button" class="btn btn-outline-secondary"><img src="assets/clothes-hanger.png" style="width: 25px;">
                            <span>Clothing</span></button>
                    </a>
                    <div id="myDropdown1" class="dropdown-content"><a href="#" onclick="myFunctiondrop1()"
                            class="dropbtn" aria-current="true">
                        </a><a href="#home">Shits</a>
                        <a href="#about">Trousers</a>
                        <a href="#contact">Otthers</a>
                    </div>


                    <a href="#" onclick="myFunctiondrop2()" class="dropbtn" aria-current="true">
                        <button id="home-button" class="btn btn-outline-secondary">
                            <img src="assets/home.png" style="width: 25px;">
                        <span>Home</span>
                        </button>
                        
                    </a>
                    <div id="myDropdown2" class="dropdown-content"><a href="#" onclick="myFunctiondrop2()"
                            class="dropbtn" aria-current="true">
                        </a><a href="#home">Decor</a>
                        <a href="#about">Furniture</a>
                        <a href="#contact">Acessories</a>
                    </div>



                    <a href="#" onclick="myFunctiondrop3()" class="dropbtn" aria-current="true">
                        <button id="sport-button" class="btn btn-outline-secondary">
                            <img src="assets/sports.png" style="width: 25px;">
                        <span>Sports</span>
                        </button>
                        
                    </a>
                    <div id="myDropdown3" class="dropdown-content"><a href="#" onclick="myFunctiondrop3()"
                            class="dropbtn" aria-current="true">
                        </a><a href="#home">Phone</a>
                        <a href="#about">Computer</a>
                        <a href="#contact">Acessories</a>
                    </div>


                    <a href="#" onclick="myFunctiondrop4()" class="dropbtn" aria-current="true">
                        <button id="automative-button" class="btn btn-outline-secondary">
                            <img src="assets/automotive.png" style="width: 25px;">
                            <span>Automative</span>
                        </button>
                        
                    </a>
                    <div id="myDropdown4" class="dropdown-content"><a href="#" onclick="myFunctiondrop4()"
                            class="dropbtn" aria-current="true">
                        </a><a href="#home">Phone</a>
                        <a href="#about">Computer</a>
                        <a href="#contact">Acessories</a>
                    </div>

                    <a href="#" onclick="myFunctiondrop5()" class="dropbtn" aria-current="true">
                        <button id="electric-button" class="btn btn-outline-secondary">
                            <img src="assets/electronics.png" style="width: 25px;">
                            <span>Electronics</span>
                        </button>
                        
                    </a>
                    <div id="myDropdown5" class="dropdown-content"><a href="#" onclick="myFunctiondrop5()"
                            class="dropbtn" aria-current="true">
                        </a><a href="#home">Phone</a>
                        <a href="#about">Computer</a>
                        <a href="#contact">Acessories</a>
                    </div>


                    <a href="#" onclick="myFunctiondrop()" class="dropbtn" aria-current="true">
                        <button id="home-button" class="btn btn-outline-secondary">
                            <img src="assets/home.png" style="width: 25px;">
                            <span>Home</span>
                        </button>
                        
                    </a>
                    <div id="myDropdown" class="dropdown-content"><a href="#" onclick="myFunctiondrop()" class="dropbtn"
                            aria-current="true">
                        </a><a href="#home">Phone</a>
                        <a href="#about">Computer</a>
                        <a href="#contact">Acessories</a>
                    </div>



                    <a href="#" onclick="myFunctiondrop()" class="dropbtn" aria-current="true">
                        <button id="sport-button" class="btn btn-outline-secondary">
                            <img src="assets/sports.png" style="width: 25px;">
                            <span>Sports</span>
                        </button>
                        
                    </a>
                    <div id="myDropdown" class="dropdown-content"><a href="#" onclick="myFunctiondrop()" class="dropbtn"
                            aria-current="true">
                        </a><a href="#home">Phone</a>
                        <a href="#about">Computer</a>
                        <a href="#contact">Acessories</a>
                    </div>


                    <a href="#" onclick="myFunctiondrop()" class="dropbtn" aria-current="true">
                        <button id="sport-button" class="btn btn-outline-secondary" >
                            <img src="assets/automotive.png" style="width: 25px;">
                            <span>Automative</span>
                        </button>
                        
                    </a>
                    <div id="myDropdown" class="dropdown-content"><a href="#" onclick="myFunctiondrop()" class="dropbtn"
                            aria-current="true">
                        </a><a href="#home">Phone</a>
                        <a href="#about">Computer</a>
                        <a href="#contact">Acessories</a>
                    </div>

                </div>
            </nav>
        </div>
    </div>
    <div class="col-md-8" style="margin-top: 50px;">
        <div class="col-10 w3-content w3-display-container " style="max-width:1000px;float:right;margin-right: 30px;">
            <img class="mySlides" src="assets/img1.jpg" style="width: 100%; display: block;">
            <img class="mySlides" src="assets/img2.jpg" style="width: 100%; display: none;">
            <img class="mySlides" src="assets/img3.jpg" style="width: 100%; display: none;">
            <img class="mySlides" src="assets/img2.jpg" style="width: 100%; display: none;">
            <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle"
                style="width:100%">
                <div class="w3-left w3-hover-text-black" style="background-color: black;" (click)="plusDivs(-1)">
                    ❮</div>
                <div class="w3-right w3-hover-text-black" (click)="plusDivs(+1)" style="background-color: black;">
                    ❯</div>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white w3-white"
                    onclick="currentDiv(1)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
            </div>
        </div>
    </div>

</div>

<app-main-page>


</app-main-page>