<div style="background-color: white;  height: 90px;" class=" mb-2">
    <nav class="navbar topnav" style="background-color: rgba(255, 255, 255, 0);color: black;" id="navbar">
        <a routerLink="/"  style="color: black;"><h2>E-Commerce</h2></a>
        <a href="Add_To_Cart.html"><img src="cart.jpg" alt="" style="width: 40px;"></a>
        <a routerLink="/SignIn" class=" btn-pill">Sign In</a>
        <a routerLink="/SignUp">Sign Up</a>
        <a href="customerHelp.html">Customer Support</a>
        <a href="signUp_seller.html">Become a seller</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()"></a>
        <div class="search-form">
            <form action="index.html" method="get" >
                <!-- <div class="input-group input-group-sm" id="input-group-search">
                    <input type="text" autocomplete="off" name="query" id="search-input" class="form-control"
                        placeholder="Search..." />
                    <div class="input-group-append">
                        <button class="btn" type="button">/</button>
                    </div>
                </div> -->
                <div class="container h-300" >
                    <div class="d-flex justify-content-center h-20 ">
                        <div class="searchbar">
                            <input class="search_input" type="text" name="" placeholder="Search...">
                            <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </nav>
</div>


<router-outlet></router-outlet>