<div class="row" style="background-color:beige;">
    <div class="col-sm-3 ">
        <div class="container" style="border: black;margin-left: 10px;padding:inherit;">

            <nav class="sidebar card py-2 mb-4">
                <ul class="nav flex-column" id="nav_accordion">

                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item1" href="#"> <img
                                src="assets/electronics.png" style="width: 20px;"> Electronics <i
                                class="bi small bi-caret-down-fill"></i> </a>
                        <ul id="menu_item1" class="submenu collapse" data-bs-parent="#nav_accordion">
                            <li><a class="nav-link" href="#">Computer & accessories </a></li>
                            <li><a class="nav-link" href="#">Home appliances </a></li>
                            <li><a class="nav-link" href="#">Power generators</a> </li>
                        </ul>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item2" href="#"><img
                                src="assets/clothes-hanger.png" style="width: 20px;"> Clothing <i
                                class="bi small bi-caret-down-fill"></i> </a>
                        <ul id="menu_item2" class="submenu collapse" data-bs-parent="#nav_accordion">
                            <li><a class="nav-link" href="#">Men's garments </a></li>
                            <li><a class="nav-link" href="#">Female garments </a></li>
                            <li><a class="nav-link" href="#">Kids garments </a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item3" href="#"><img
                                src="assets/automotive.png" style="width: 20px;"> Automotive <i
                                class="bi small bi-caret-down-fill"></i> </a>
                        <ul id="menu_item3" class="submenu collapse" data-bs-parent="#nav_accordion">
                            <li><a class="nav-link" href="#">Car's accessories </a></li>
                            <li><a class="nav-link" href="#">Car spare parts </a></li>
                            <li><a class="nav-link" href="#">Bike accessories </a></li>
                            <li><a class="nav-link" href="#">Bike spare parts </a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item4" href="#"> <img
                                src="assets/electronics.png" style="width: 20px;"> Electronics <i
                                class="bi small bi-caret-down-fill"></i> </a>
                        <ul id="menu_item4" class="submenu collapse" data-bs-parent="#nav_accordion">
                            <li><a class="nav-link" href="#">Computer & accessories </a></li>
                            <li><a class="nav-link" href="#">Home appliances </a></li>
                            <li><a class="nav-link" href="#">Power generators</a> </li>
                        </ul>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item5" href="#"><img
                                src="assets/clothes-hanger.png" style="width: 20px;"> Clothing <i
                                class="bi small bi-caret-down-fill"></i> </a>
                        <ul id="menu_item5" class="submenu collapse" data-bs-parent="#nav_accordion">
                            <li><a class="nav-link" href="#">Men's garments </a></li>
                            <li><a class="nav-link" href="#">Female garments </a></li>
                            <li><a class="nav-link" href="#">Kids garments </a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item6" href="#"><img
                                src="assets/automotive.png" style="width: 20px;"> Automotive <i
                                class="bi small bi-caret-down-fill"></i> </a>
                        <ul id="menu_item6" class="submenu collapse" data-bs-parent="#nav_accordion">
                            <li><a class="nav-link" href="#">Car's accessories </a></li>
                            <li><a class="nav-link" href="#">Car spare parts </a></li>
                            <li><a class="nav-link" href="#">Bike accessories </a></li>
                            <li><a class="nav-link" href="#">Bike spare parts </a></li>
                        </ul>
                    </li>                </ul>
            </nav>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll('.sidebar .nav-link').forEach(function (element) {

                element.addEventListener('click', function (e) {

                    let nextEl = element.nextElementSibling;
                    let parentEl = element.parentElement;

                    if (nextEl) {
                        e.preventDefault();
                        let mycollapse = new bootstrap.Collapse(nextEl);

                        if (nextEl.classList.contains('show')) {
                            mycollapse.hide();
                        } else {
                            mycollapse.show();
                            // find other submenus with class=show
                            var opened_submenu = parentEl.parentElement.querySelector('.submenu.show');
                            // if it exists, then close all of them
                            if (opened_submenu) {
                                new bootstrap.Collapse(opened_submenu);
                            }
                        }
                    }
                }); // addEventListener
            }) // forEach
        }); 
    </script>


    <div class="col-md-8" style="margin-top: 0px;">
        <div class="container mt-3">
            <ngb-carousel #carousel>
                <ng-template ngbSlide>
                    <div class="img-block">
                        <img src="assets/img1.jpg" width="100%" alt="Img 1">
                    </div>
                    <div class="carousel-caption">

                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="img-block">
                        <img src="assets/img2.jpg" width="100%" alt="Img 2">
                    </div>
                    <div class="carousel-caption">

                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="img-block">
                        <img src="assets/img3.jpg" width="100%" alt="Img 3">
                    </div>
                    <div class="carousel-caption">

                    </div>
                </ng-template>
            </ngb-carousel>

            <div class="text-center">
                <button class="btn btn-outline-secondary" (click)="prevSlide()">Prev</button>
                <button class="btn btn-outline-secondary" (click)="nextSlide()">Next</button>
                <button class="btn btn-outline-secondary" (click)="stopSlider()">Stop</button>
            </div>
        </div>
    </div>
</div>

<br>

<div class="container d-flex justify-content-center mt-50 mb-50" style="background-color: beige;">
    <div class="row" style="background-color: royalblue;">
        <div class="col-md-3 mt-2">
            <a href="Product_Details.html">
            </a>
            <div class="card"><a href="Product_Details.html">
                    <div class="card-body">
                        <div class="card-img-actions">

                            <img src="assets/p1.jpg" class="card-img img-fluid" width="96" height="350" alt="">
                        </div>
                    </div>

                </a>
                <div class="card-body bg-light text-center"><a href="Product_Details.html">
                    </a>
                    <div class="mb-2"><a href="Product_Details.html">
                        </a>
                        <h6 class="font-weight-semibold mb-2"><a href="Product_Details.html">
                            </a><a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB
                                HDD
                                &amp;
                                8GB RAM</a>
                        </h6>

                        <a href="#" class="text-muted" data-abc="true">Electronics</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                    </div>
                    <div class="text-muted mb-3">34 reviews</div>
                    <!-- <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to
                        cart</button> -->
                </div>
            </div>

        </div>


        <div class="col-md-3 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">

                        <img src="assets/p2.jpg" class="card-img img-fluid" width="96" height="350" alt="">
                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2">
                            <a href="#" class="text-default mb-2" data-abc="true">Tapal Tea pack</a>
                        </h6>

                        <a href="#" class="text-muted" data-abc="true">Home</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                    </div>
                    <div class="text-muted mb-3">34 reviews</div>
                    <!-- <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to
                        cart</button> -->
                </div>
            </div>
        </div>

        <div class="col-md-3 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">

                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png"
                            class="card-img img-fluid" width="96" height="350" alt="">


                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2">
                            <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD
                                &amp;
                                8GB RAM</a>
                        </h6>

                        <a href="#" class="text-muted" data-abc="true">Laptops &amp; Notebooks</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                    </div>

                    <div class="text-muted mb-3">34 reviews</div>

                    <!-- <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to
                        cart</button> -->
                </div>
            </div>
        </div>

        <div class="col-md-3 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">

                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png"
                            class="card-img img-fluid" width="96" height="350" alt="">


                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2">
                            <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD
                                &amp;
                                8GB RAM</a>
                        </h6>

                        <a href="#" class="text-muted" data-abc="true">Laptops &amp; Notebooks</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                    </div>
                    <div class="text-muted mb-3">34 reviews</div>
                    <!-- <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to
                        cart</button> -->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-center mt-50 mb-50">
    <div class="row">
        <div class="col-sm-2 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">

                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png"
                            class="card-img img-fluid" width="96" height="350" alt="">
                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2">
                            <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD
                                &amp;
                                8GB RAM</a>
                        </h6>

                        <a href="#" class="text-muted" data-abc="true">Laptops &amp; Notebooks</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                    </div>
                    <div class="text-muted mb-3">34 reviews</div>
                    <!-- <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to
                        cart</button> -->
                </div>
            </div>
        </div>


        <div class="col-sm-2 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">

                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png"
                            class="card-img img-fluid" width="96" height="350" alt="">
                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2">
                            <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD
                                &amp;
                                8GB RAM</a>
                        </h6>

                        <a href="#" class="text-muted" data-abc="true">Laptops &amp; Notebooks</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                    </div>
                    <div class="text-muted mb-3">34 reviews</div>
                    <!-- <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to
                        cart</button> -->
                </div>
            </div>
        </div>

        <div class="col-sm-2 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">

                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png"
                            class="card-img img-fluid" width="96" height="350" alt="">


                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2">
                            <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD
                                &amp;
                                8GB RAM</a>
                        </h6>

                        <a href="#" class="text-muted" data-abc="true">Laptops &amp; Notebooks</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                    </div>

                    <div class="text-muted mb-3">34 reviews</div>

                    <!-- <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to
                        cart</button> -->
                </div>
            </div>
        </div>

        <div class="col-sm-2 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">

                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png"
                            class="card-img img-fluid" width="96" height="350" alt="">


                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2">
                            <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD
                                &amp;
                                8GB RAM</a>
                        </h6>

                        <a href="#" class="text-muted" data-abc="true">Laptops &amp; Notebooks</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                    </div>
                    <div class="text-muted mb-3">34 reviews</div>
                    <!-- <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to
                        cart</button> -->
                </div>
            </div>
        </div>


        <div class="col-sm-2 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">

                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png"
                            class="card-img img-fluid" width="96" height="350" alt="">


                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2">
                            <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD
                                &amp;
                                8GB RAM</a>
                        </h6>

                        <a href="#" class="text-muted" data-abc="true">Laptops &amp; Notebooks</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                    </div>
                    <div class="text-muted mb-3">34 reviews</div>
                    <!-- <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to
                        cart</button> -->
                </div>
            </div>
        </div>



        <div class="col-sm-2 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">

                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png"
                            class="card-img img-fluid" width="96" height="350" alt="">


                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2">
                            <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD
                                &amp;
                                8GB RAM</a>
                        </h6>

                        <a href="#" class="text-muted" data-abc="true">Laptops &amp; Notebooks</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                    </div>
                    <div class="text-muted mb-3">34 reviews</div>
                    <!-- <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to
                        cart</button> -->
                </div>
            </div>
        </div>
    </div>
</div>





<script src="assts/script.js"></script>