



<br>


<div class="container d-flex justify-content-center mt-50 mb-50">
    <div class="row" style="background-color: royalblue;">
        <div class="col-md-3 mt-2">
            <a href="Product_Details.html">
            </a>
            <div class="card"><a href="Product_Details.html">
                    <div class="card-body">
                        <div class="card-img-actions">

                            <img src="assets/p1.jpg" class="card-img img-fluid" width="96" height="350" alt="">
                        </div>
                    </div>

                </a>
                <div class="card-body bg-light text-center"><a href="Product_Details.html">
                    </a>
                    <div class="mb-2"><a href="Product_Details.html">
                        </a>
                        <h6 class="font-weight-semibold mb-2"><a href="Product_Details.html">
                            </a><a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB
                                HDD
                                &amp;
                                8GB RAM</a>
                        </h6>

                        <a href="#" class="text-muted" data-abc="true">Electronics</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                    </div>
                    <div class="text-muted mb-3">34 reviews</div>
                    <!-- <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to
                        cart</button> -->
                </div>
            </div>

        </div>


        <div class="col-md-3 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">

                        <img src="assets/p2.jpg"
                            class="card-img img-fluid" width="96" height="350" alt="">
                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2">
                            <a href="#" class="text-default mb-2" data-abc="true">Tapal Tea pack</a>
                        </h6>

                        <a href="#" class="text-muted" data-abc="true">Home</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                    </div>
                    <div class="text-muted mb-3">34 reviews</div>
                    <!-- <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to
                        cart</button> -->
                </div>
            </div>
        </div>

        <div class="col-md-3 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">

                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png"
                            class="card-img img-fluid" width="96" height="350" alt="">


                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2">
                            <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD
                                &amp;
                                8GB RAM</a>
                        </h6>

                        <a href="#" class="text-muted" data-abc="true">Laptops &amp; Notebooks</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                    </div>

                    <div class="text-muted mb-3">34 reviews</div>

                    <!-- <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to
                        cart</button> -->
                </div>
            </div>
        </div>

        <div class="col-md-3 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">

                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png"
                            class="card-img img-fluid" width="96" height="350" alt="">


                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2">
                            <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD
                                &amp;
                                8GB RAM</a>
                        </h6>

                        <a href="#" class="text-muted" data-abc="true">Laptops &amp; Notebooks</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                    </div>
                    <div class="text-muted mb-3">34 reviews</div>
                    <!-- <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to
                        cart</button> -->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-center mt-50 mb-50">
    <div class="row">
        <div class="col-sm-2 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">

                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png"
                            class="card-img img-fluid" width="96" height="350" alt="">
                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2">
                            <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD
                                &amp;
                                8GB RAM</a>
                        </h6>

                        <a href="#" class="text-muted" data-abc="true">Laptops &amp; Notebooks</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                    </div>
                    <div class="text-muted mb-3">34 reviews</div>
                    <!-- <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to
                        cart</button> -->
                </div>
            </div>
        </div>


        <div class="col-sm-2 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">

                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png"
                            class="card-img img-fluid" width="96" height="350" alt="">
                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2">
                            <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD
                                &amp;
                                8GB RAM</a>
                        </h6>

                        <a href="#" class="text-muted" data-abc="true">Laptops &amp; Notebooks</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                    </div>
                    <div class="text-muted mb-3">34 reviews</div>
                    <!-- <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to
                        cart</button> -->
                </div>
            </div>
        </div>

        <div class="col-sm-2 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">

                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png"
                            class="card-img img-fluid" width="96" height="350" alt="">


                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2">
                            <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD
                                &amp;
                                8GB RAM</a>
                        </h6>

                        <a href="#" class="text-muted" data-abc="true">Laptops &amp; Notebooks</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                    </div>

                    <div class="text-muted mb-3">34 reviews</div>

                    <!-- <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to
                        cart</button> -->
                </div>
            </div>
        </div>

        <div class="col-sm-2 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">

                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png"
                            class="card-img img-fluid" width="96" height="350" alt="">


                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2">
                            <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD
                                &amp;
                                8GB RAM</a>
                        </h6>

                        <a href="#" class="text-muted" data-abc="true">Laptops &amp; Notebooks</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                    </div>
                    <div class="text-muted mb-3">34 reviews</div>
                    <!-- <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to
                        cart</button> -->
                </div>
            </div>
        </div>


        <div class="col-sm-2 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">

                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png"
                            class="card-img img-fluid" width="96" height="350" alt="">


                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2">
                            <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD
                                &amp;
                                8GB RAM</a>
                        </h6>

                        <a href="#" class="text-muted" data-abc="true">Laptops &amp; Notebooks</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                    </div>
                    <div class="text-muted mb-3">34 reviews</div>
                    <!-- <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to
                        cart</button> -->
                </div>
            </div>
        </div>



        <div class="col-sm-2 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">

                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png"
                            class="card-img img-fluid" width="96" height="350" alt="">


                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2">
                            <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD
                                &amp;
                                8GB RAM</a>
                        </h6>

                        <a href="#" class="text-muted" data-abc="true">Laptops &amp; Notebooks</a>
                    </div>

                    <h3 class="mb-0 font-weight-semibold">$250.99</h3>

                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                    </div>
                    <div class="text-muted mb-3">34 reviews</div>
                    <!-- <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to
                        cart</button> -->
                </div>
            </div>
        </div>


    </div>
</div>





<script src="assts/script.js"></script>








