<div class="row container">
    <div class="col-4">
    </div>
    <div class="col-7">
        <div class="search-form">
            <div class="container h-100">
                <div class="d-flex justify-content-center h-20 ">
                    <div class="searchbar">
                        <input class="search_input" type="text" name="" placeholder="Search...">
                        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
    </div>
</div>

<div class="row" >
    <div class="col-sm-8  col-md-5 col-lg-3">
        <div class="container" style="border: black;margin-left: 10px;padding:inherit;">

            <nav class="sidebar card py-2 mb-4">
                <ul class="nav flex-column" id="nav_accordion">
                    <li  *ngFor="let cat of categories" class="nav-item" id ="#menu{{cat.Id}}">
                        <a  class="nav-link" data-bs-toggle="collapse" [attr.data-bs-target]="'#menu' + cat.Id" href="#"> <img
                                src="assets/electronics.png" style="width: 20px;" alt=""> {{cat.Name}}<i
                                class="bi small bi-caret-down-fill"></i> </a>
                        <ul id="menu{{cat.Id}}" class="submenu collapse" data-bs-parent="#nav_accordion">
                            <div  *ngFor="let sub_cat of subCategories">
                                <li *ngIf="sub_cat.Categor_Id === cat.Id" ><a class="nav-link" href="#" (click)="getCategoryProducts(sub_cat.Categor_Id)" >{{sub_cat.Sub_Category}}</a></li>
                            </div>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll('.sidebar .nav-link').forEach(function (element) {

                element.addEventListener('click', function (e) {

                    let nextEl = element.nextElementSibling;
                    let parentEl = element.parentElement;

                    if (nextEl) {
                        e.preventDefault();
                        let mycollapse = new bootstrap.Collapse(nextEl);

                        if (nextEl.classList.contains('show')) {
                            mycollapse.hide();
                        } else {
                            mycollapse.show();
                            // find other submenus with class=show
                            var opened_submenu = parentEl.parentElement.querySelector('.submenu.show');
                            // if it exists, then close all of them
                            if (opened_submenu) {
                                new bootstrap.Collapse(opened_submenu);
                            }
                        }
                    }
                }); // addEventListener
            }) // forEach
        }); 
    </script>


    <div class="col-md-8" style="margin-top: 0px;">
        <div class="container mt-3">
            <ngb-carousel #carousel>
                <ng-template ngbSlide>
                    <div class="img-block">
                        <img src="assets/img1.jpg" width="100%" alt="Img 1">
                    </div>
                    <div class="carousel-caption">

                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="img-block">
                        <img src="assets/img2.jpg" width="100%" alt="Img 2">
                    </div>
                    <div class="carousel-caption">

                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="img-block">
                        <img src="assets/img3.jpg" width="100%" alt="Img 3">
                    </div>
                    <div class="carousel-caption">

                    </div>
                </ng-template>
            </ngb-carousel>

            <!-- <div class="text-center">
                <button class="btn btn-outline-secondary" (click)="prevSlide()">Prev</button>
                <button class="btn btn-outline-secondary" (click)="nextSlide()">Next</button>
                <button class="btn btn-outline-secondary" (click)="stopSlider()">Stop</button>
            </div> -->
        </div>
    </div>
</div>

<br>
<br>
<br>

<ng-container *ngIf="this.prdData">
        <div class="container">
            <div class="row ">
                <div class="my-2 col-lg-3 col-md-4 col-sm-6 col-12" *ngFor="let prd of prdData">
                    <a routerLink="/productAndSellerDetails" (click)="setSelctedProductGlobal(prd.Id)">
                        <div class="inner">
                            <div class="card shadow cardproperty">
                                <img class="card-img-top cardPicHeight" src="{{prd.Picture}}" alt="Card image cap">
                                <div class="card-body " >
                                    <p class="inputBoxHeadingColor cardTextPrdNameOverFlow my-0">{{prd.Name}}</p>
                                    <p class="cardTextDescriptionOverFlow simpleText mb-0" >{{prd.Description}}</p>
                                    <br>
                                    <p class="prdDiscountedPrice text-center my-0 ms-0" style="margin-right: 350px;" >Rs.{{calculatediscountedPrice(prd.SellPrice, prd.Discount)}}</p>
                                    <br>
                                    <p class="prdTotalPrice ms-0 mt-0"><s>Rs.{{prd.SellPrice}}</s></p>
                                    <p class="prdDiscounted ms-2">-{{prd.Discount}}%</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
</ng-container>




<script src="assets/script.js"></script>