<div class="container-fluid mt-5">

    <div class="row d-flex justify-content-center">

        <div class="col-lg-8">
            <div class="row">
                <h3 class="col-md-6">Create Your E-Commerce Account</h3>
                <div class="float-right col-md-6">
                    <h6 class="float-right" style="font-size: 12px;">Already Member? <a style="color: blue;" routerLink="/SignIn"
                            class="outline">Login</a> here.</h6>
                </div>
            </div>
            <!-- <form> -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label" for="exampleInputEmail1">Email*</label>
                            <input type="email" class="form-control w-100" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Please enter your phone number or email"
                                required>
                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                        </div>
                        <!-- <div class="form-group">
                            <button type="button" class="btn btn-info w-100 my-2">Click To Receive Code</button>
                        </div> -->

                        <div class="form-group">
                            <label class="label" for="exampleInputPassword1">Password*</label>
                            <input type="password" class="form-control w-100" id="exampleInputPassword1"
                                placeholder="Please enter your password" required>
                        </div>

                        <!-- <label class="label" for="exampleInputEmail1">Birthday*</label>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="btn-group">
                                    <input type="text" class="dropdown-toggle w-100" data-toggle="dropdown"
                                        placeholder="Month">
                                    <ul class="dropdown-menu scrollable-menu" role="menu">
                                        <li>January</li>
                                        <li>Feburary</li>
                                        <li>March</li>
                                        <li>April</li>
                                        <li>May</li>
                                        <li>June</li>
                                        <li>July</li>
                                        <li>August</li>
                                        <li>September</li>
                                        <li>October</li>
                                        <li>November</li>
                                        <li>December</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">

                                <div class="btn-group">
                                    <input type="text" class="dropdown-toggle w-100" data-toggle="dropdown"
                                        placeholder="Date">
                                    <ul class="dropdown-menu scrollable-menu" role="menu">
                                        <li>1</li>
                                        <li>2</li>
                                        <li>3</li>
                                        <li>4</li>
                                        <li>5</li>
                                        <li>6</li>
                                        <li>7</li>
                                        <li>8</li>
                                        <li>9</li>
                                        <li>10</li>
                                        <li>11</li>
                                        <li>12</li>
                                        <li>13</li>
                                        <li>14</li>
                                        <li>15</li>
                                        <li>16</li>
                                        <li>17</li>
                                        <li>18</li>
                                        <li>19</li>
                                        <li>20</li>
                                        <li>21</li>
                                        <li>22</li>
                                        <li>23</li>
                                        <li>24</li>
                                        <li>25</li>
                                        <li>26</li>
                                        <li>27</li>
                                        <li>28</li>
                                        <li>29</li>
                                        <li>30</li>
                                        <li>31</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">

                                <div class="btn-group">
                                    <input type="text" class="dropdown-toggle w-100" data-toggle="dropdown"
                                        placeholder="Year">
                                    <ul class="dropdown-menu scrollable-menu" role="menu">
                                        <li>2022</li>
                                        <li>2021</li>
                                        <li>2020</li>
                                        <li>2019</li>
                                        <li>2018</li>
                                        <li>2017</li>
                                        <li>2016</li>
                                        <li>2015</li>
                                        <li>2014</li>
                                        <li>2013</li>
                                        <li>2012</li>
                                        <li>2011</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <br>
                        <label class="label" for="exampleInputEmail1">Gender*</label>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="btn-group">
                                    <input type="text" class="dropdown-toggle w-100" data-toggle="dropdown"
                                        placeholder="Gender">
                                    <ul class="dropdown-menu scrollable-menu" role="menu">
                                        <li>Male</li>
                                        <li>Female</li>
                                        <li>Other</li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="container w-100">
                            <a href="#" class="float-right outline" style="font-size: 15px;">Forget Password?</a>
                        </div> -->
                        <!-- <button type="submit" class="btn btn-primary float-right" style="width:320px;">Submit</button> -->
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label" for="exampleInputPassword1">FullName*</label>
                            <input type="text" class="form-control w-100" id="exampleInputPassword1"
                                placeholder="Please enter your name" required>
                        </div>
                        <!-- <div class="form-check mt-0">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">I'd like to receive exclusive offers
                                and promotions via SMS</label>
                        </div> -->
                        <button type="button" class="btn btn-danger w-100 my-2"
                            style="height: 50px;">Sign Up</button>
                        <!-- <h6>By clicking “SIGN UP”, I agree to E-commerce's <a href="#" class="outline">Terms of Use
                            </a> and <a href="#" class="outline">Privacy Policy</a>.</h6> -->
                        <h6 style="text-align: center;">or signup with</h6>
                        <br>
                        <!-- <button type="button" class="btn btn-danger w-100 my-2" style="height: 50px;">Sign
                            Up With Email</button> -->

                        <div class="row d-flex justify-content-center">
                            <button type="button" class="btn btn-primary w-100 col-md-5 m-2"><i
                                    style="font-size:24px; color:white;" class="fa mx-2">&#xf09a;</i>Facebook</button>
                            <button type="button" class="btn btn-danger w-100 col-md-5 m-2"><i
                                    style="font-size:24px; color:white;" class="fa mx-2">&#xf0d5;</i>Google</button>
                        </div>
                    </div>
            <!-- </form> -->
        </div>
    </div>
</div>