<div class="marginFromNavbar"></div>
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        
        <div class="row d-flex justify-content-center">
            <div *ngIf="showMsg" class="alert alert-danger">
              <strong>{{showMsg}}</strong>
            </div> 
            <form [formGroup]="signUpForm" (ngSubmit)="checkDetailValidSignUpForm()" ngNativeValidate >
                <section class="vh-100 gradient-custom">
                    <div class="row d-flex justify-content-center align-items-center h-100" >
                        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                                <div class="card-body px-5 text-center">
                                    <div class="mb-md-5 mt-md-4 pb-5">
                                        <h2 class="fw-bold mb-4 text-uppercase">Create Account</h2>

                                        <div class="form-outline form-white mb-4">
                                        <input type="email" id="emailId" formControlName="email" class="form-control form-control-lg" required/>
                                        <label class="form-label" for="emailId">Email</label>
                                        </div>
                                        
                                        <div class="form-outline form-white mb-4">
                                            <input type="text" id="nameId" pattern="^[a-zA-Z][a-zA-Z\s]{0,20}[a-zA-Z]$" minlength="3" maxlength="20"
                                            title="Enter Name in Right Format" formControlName="fullname" class="form-control form-control-lg" required/>
                                            <label class="form-label" for="nameId">Full Name</label>
                                        </div>

                                        <div class="form-outline form-white mb-4">
                                        <input type="password" id="passwordId" formControlName="password"  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,15}$"
                                        title="Password Must contain Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character" class="form-control form-control-lg" required/>
                                        <label class="form-label" for="passwordId">Password</label>
                                        </div> 

                                        <div *ngIf="verificationCodeSended" class="form-outline form-white mb-4">
                                            <input type="number" title="Length should be 6" id="verificationId" formControlName="verificationCode"  maxlength="6" minlength="6" class="form-control form-control-lg" required/>
                                            <label class="form-label" for="verificationId">Verification Code*</label>
                                        </div>

                                        <div *ngIf="verificationCodeSended">
                                            <button type="button" class="btn btn-outline-light btn-lg px-5"
                                            (click)="sendVerificationCode()" >{{verificationCodeButtonText}}</button>
                                            <p>{{verificationCodeVaildTime}}</p>
                                        </div>

                                        <div  *ngIf="!verificationCodeSended" >
                                            <button type="button" [disabled]="getCodeButtonProperty" class="btn btn-outline-light btn-lg px-5" (click)="sendVerificationCode()"
                                            >{{verificationCodeButtonText}}</button>
                                        </div>
                                        <div>
                                            <button *ngIf="signUpButton" class="btn btn-outline-light btn-lg px-5" type="submit">Sign Up</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>