<!-- <body style="background-color: gainsboro; padding-left: 200px; padding-right: 200px;"> -->
<div>
  <div class="container my-3 py-3">

    <div class="row">
      <div class="col-md-4 col-sm-8 d-flex justify-content-center">
        <app-customer-support-item link="/" title="Track Order" imgsrc="../../assets/customer-support/tracking.png">
        </app-customer-support-item>
      </div>
      <div class="col-md-4 col-sm-8 d-flex justify-content-center">
        <app-customer-support-item title="Reset Password" routerLink="/resetPassword" 
          imgsrc="../../assets/customer-support/rotation-lock.png">
        </app-customer-support-item>
      </div>
      <div class="col-md-4 col-sm-8 d-flex justify-content-center">
        <app-customer-support-item routerLink="/editAccountDetails" title="Edit Account Details"
          imgsrc="../../assets/customer-support/account-details.png">
        </app-customer-support-item>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-4 col-sm-8 d-flex justify-content-center">
        <app-customer-support-item link="/" title="My Returns" imgsrc="../../assets/customer-support/returns.png">
        </app-customer-support-item>
      </div>
      <div class="col-md-4 col-sm-8 d-flex justify-content-center">
        <app-customer-support-item link="/" title="Address Book" imgsrc="../../assets/customer-support/location.png">
        </app-customer-support-item>
      </div>
      <div class="col-md-4 col-sm-8 d-flex justify-content-center">
        <app-customer-support-item routerLink="/cancelOrder" title="Cancel Order" imgsrc="../../assets/customer-support/cancel-order.png">
        </app-customer-support-item>
      </div>
    </div>
    
  </div>
  <br>
</div>
<!-- </body> -->

<!-- </html> -->