<div class="marginFromNavbar"></div>
<div class="container-fluid">
    <div class="row d-flex justify-content-center">

        <div class="col-lg-8">
            <div class="row">
                <h3 class="col-md-6 pageMainHeading">My History</h3>
            </div>
            <div class="row mt-4">
                <table class="table table-bordered" contenteditable="false">
                    <thead>
                        <tr>
                            <!-- <th scope="col" style="display: none;">Id</th>
                            <th scope="col" style="display: none;">Buyer_User_Id</th> -->
                            <th scope="col">ProductName</th>
                            <th scope="col">ProductQuantity</th>
                            <th scope="col">ProductSellPrice</th>
                            <th scope="col">ProductPriceAfterDiscount</th>
                            <th scope="col">Date</th>
                            <th scope="col">ShippedDate</th>
                            <th scope="col">TotalBill</th>
                            <!-- <th scope="col">OrderStatus</th> -->
                            <th scope="col" contenteditable="false" style="display: none;">OrderId</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let us of readData" id="details">
                            <!-- <th scope="col" style="display: none;">{{us.Id}}</th> -->
                            <!-- <th scope="col" style="display: none;">{{us.Buyer_User_Id}}</th> -->
                            <th scope="col">{{us.ProductName}}</th>
                            <th scope="col">{{us.ProductQuantity}}</th>
                            <!-- <th scope="col">{{us.ProductBuyPrice}}</th> -->
                            <th scope="col">{{us.ProductSellPrice}}</th>
                            <th scope="col">{{us.ProductPriceAfterDiscount}}</th>
                            <th scope="col">{{us.Date}}</th>
                            <th scope="col">{{us.ShippedDate}}</th>
                            <th scope="col">{{us.TotalBill}}</th>
                            <!-- <th scope="col">{{us.OrderStatus}}</th> -->
                            <th scope="col" contenteditable="false" style="display: none;">{{us.OrderId}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <div *ngIf="showMsg" class="alert alert-success">
                <strong>{{showMsg}}</strong>
            </div> -->
        </div>
    </div>
</div>