<div class="marginFromNavbar"></div>
<div class="container-fluid">
    <div class="row d-flex justify-content-center">

        <div class="col-lg-12">
            <div class="row">
                <h3 class="col-md-6 pageMainHeading">Address Book</h3>
            </div>
            <div class="row mt-4">

                <table class="table table-bordered" *ngIf="AddressBook">
                    <thead>
                        <tr>
                            <th scope="col" style="display: none;">Id</th>
                            <th scope="col">FullName</th>
                            <th scope="col">PhoneNo</th>
                            <th scope="col">Building_House_Street_Floor</th>
                            <th scope="col">Colony_Submark_Locality_Landmark</th>
                            <th scope="col">Province</th>
                            <th scope="col">City</th>
                            <th scope="col">NickName</th>
                            <th scope="col" style="display: none;">Buyer_User_Id</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let us of readData" id="details">
                            <th scope="row" style="display: none;">{{us.Id}}</th>
                            <td>{{us.FullName}}</td>
                            <td>{{us.PhoneNo}}</td>
                            <td>{{us.Buildin_House_Street_Floor}}</td>
                            <td>{{us.Colony_Submark_Locality_Landmark}}</td>
                            <td>{{us.Province}}</td>
                            <td>{{us.City}}</td>
                            <td>{{us.NickName}}</td>
                            <td style="display: none;">{{us.Buyer_User_Id}}</td>
                            <td><button class="btn btn-dark" (click)="openEditAddressDetailModal()"><i
                                        class="bi bi-pencil-square"></i></button><button class="btn btn-dark"
                                    (click)="deleteAddressDetails()"><i class="bi bi-trash"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editAddressDetailModalId" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Address Details</h5>
                <button type="button" class="close" (click)="closeEditAddressDetailModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editAddress" (ngSubmit)="saveEditAddressDetails()" ngNativeValidate>
                    <div class="row">
                        <div class="col-lg-12 ">
                            <div class="row mx-2 mt-2" style="background-color: whitesmoke;">
                                <div class="mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Full Name</label>
                                    <input type="text" class="form-control" formControlName="fullName"
                                        id="formGroupExampleInput" placeholder="Edit Full Name" required>
                                    <label for="formGroupExampleInput" class="form-label">Phone No</label>
                                    <input type="tel" maxlength="11" class="form-control" formControlName="phoneNo"
                                        id="formGroupExampleInput" placeholder="Edit Phone No" required>
                                    <label for="formGroupExampleInput"
                                        class="form-label">Building/House/Street/Floor</label>
                                    <input type="text" class="form-control"
                                        formControlName="Building_House_Street_Floor" id="formGroupExampleInput"
                                        placeholder="Edit Buildin/House/Street/Floor" required>
                                    <label for="formGroupExampleInput"
                                        class="form-label">Colony/Submark/Locality/Landmark</label>
                                    <input type="text" class="form-control"
                                        formControlName="Colony_Submark_Locality_Landmark" id="formGroupExampleInput"
                                        placeholder="Edit Colony/Submark/Locality/Landmark" required>
                                    <label for="formGroupExampleInput" class="form-label">Province</label>
                                    <!-- <input type="text" class="form-control" formControlName="Province"
                                        id="formGroupExampleInput" placeholder="Edit Province" required> -->
                                    <select class="form-select" formControlName="Province" id="validationProvince"
                                        required>
                                        <!-- <option selected>Please select province</option> -->
                                        <option value="Balochistan">Balochistan</option>
                                        <option value="KPK">KPK</option>
                                        <option value="Punjab">Punjab</option>
                                        <option value="Sindh">Sindh</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select a valid state.
                                    </div>
                                    <label for="formGroupExampleInput" class="form-label">City</label>
                                    <!-- <input type="text" class="form-control" formControlName="City"
                                        id="formGroupExampleInput" placeholder="Edit City" required> -->
                                    <select class="form-select" formControlName="City" id="validationCity" required>
                                        <!-- <option selected>Select City</option> -->
                                        <option [value]="city" *ngFor="let city of cities">{{city}}</option>
                                    </select>
                                    <div class="invalid-feedback">
                                    Please select a valid state.
                                    </div>
                                    <label for="formGroupExampleInput" class="form-label">NickName</label>
                                    <input type="text" class="form-control" formControlName="NickName"
                                        id="formGroupExampleInput" placeholder="Edit NickName" required>
                                </div>
                            </div>
                            <div class="row mx-2 mb-3" style="background-color: whitesmoke;">
                                <div class="col-lg-8"></div>
                                <div class="col-lg-4">
                                    <div class="d-grid m-4">
                                        <button class="btn btn-primary" type="submit">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>